*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}
body{
    background-color: var(--body-bg-color);    
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);

}
.container{
    padding: 2.5rem;
    display: flex;
    /* justify-content: center; */
    margin: auto; 
    gap: 3.75rem;
    max-width: 1354px; 
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;      
        margin: auto;  
        padding: 1rem;
    }
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tecnologias{
        padding: 1rem;
    }
}

div .box{
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    margin-bottom: 2rem;
}
div .profile{
    padding: 1rem;   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div .profile > img{   
    border: 2px solid #00FF00;
    margin: 2rem 6.875rem 1.875rem; 
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;    
}
div .profile > #name{

    text-align: center;
    font-weight: 700;
    font-size: 1.43rem;
    width: 100%;
}
div .profile > #occupation{

    text-align: center;
    font-weight: 400;
    font-size: 1.06rem;
    width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 3rem ;
}
div .contato{
    margin-top: 1.875rem;
    font-size: 13px;
}
div .contato-geral-info {
    padding: 2.125rem;
}
div .contato-info {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
}
.contato-detalhe{
    margin-left: 1.437rem;
}
.sidebar > .tecnologias{
    margin-top: 1.875rem;
}
.tecnologias > .tecnologia-geral{
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    gap: 1.875rem;
}
.tecnologias > .tecnologia-titulo{
    line-height: 25.14px;
    font-weight: 700;
    color: #837E9F;
    margin-left: 1.25rem;
    font-size: 1.25rem;
    padding-top: 1.875rem;
    padding-top: 1.25rem;
}
.tecnologias-detalhe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 1em;
    padding-bottom: 1.875rem;   

}
.tecnologias-detalhe > .tecnologias-info{
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.375rem;
    height: 1.5rem;
    background-color: #CB92B1;
    border-radius: 1.875rem;
    text-align: center;
    color: black;    
}
div .conteudo{
   flex: 1;  
}
.conteudo > .home{
    font-size: 1.25rem;
    padding: 1.88rem;
    display: flex;
    justify-content: space-between;
    color: #837E9F;
}
.home > a{
    font-size: 0.875rem;
    text-decoration: none;
    color: #837E9F;
}
.meu-onixs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.875rem;  
}
.onix{
    flex: 1;
    padding: 1.875rem;

}
.onix > .onix-titulo{
    display: flex;
    align-items: center;
    gap: 1.104rem;
    font-size: 1rem;
}
.onix > .onix-descricao{
    font-size: 0.875rem;
    padding-top: 1.375rem;
}
.onix-rodape{
    display: flex;
    flex: 1;
}
.onix-rodape > .onix-estrelas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.375rem;
    font-size: 0.875rem;
    gap: 0.604rem;    
}
.onix-rodape > .onix-branch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.375rem;
    font-size: 0.875rem;
    gap: 0.604rem;        
}
.onix-rodape > .onix-linguagem{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.375rem;
    font-size: 0.875rem; 
}